@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-size: small;
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

h3 {
  font-size: small;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
